{% extends 'base.html' %}

{% block content %}
<span class="title"><h1>{% block title %} The Posts Page {% endblock %}</h1></span>
<div class="content">
    <div class="my-1 p-3 bg-white rounded shadow-sm">
        <h1 class="display-4">Lista de Ingredientes</h1>
        <h4>Tabela de Produtos <span class="badge text-bg-secondary">New</span></h4>
        <ul class="list-group">
           {% for ingredient in ingredients %}
            <li class="list-group-item">{{ ingredient.name }}</li>
           {% endfor %}
          </ul>
    </div>
</div>
{% endblock %}