{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="lni lni-user"></i>
        <span>{% block title %} Lista de Ingredientes {% endblock %}</span></h1>
  </div>
<div class="content">
    <div class="my-1 p-3 bg-white rounded shadow-sm">
        <h4>Tabela de Produtos <span class="badge text-bg-secondary">New</span></h4>
        <ul class="list-group">
           {% for ingredient in ingredients %}
            <li class="list-group-item">{{ ingredient.name }}</li>
           {% endfor %}
          </ul>
    </div>
</div>
{% endblock %}